<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Document</title>
</head>
<body>
    <% for(var i = 0; i < posts.length; i++) { %>
        <p>
            <h1>
                <%= posts[i].STITEM_MID_CD %>
            </h1>
            <%= posts[i].STITEM_MID_NM %>
            <br>
            <hr>
        </p>
        <%= %>
    <% } %>
</body>
</html>